html{
    margin:0;
    padding:0;
    color:#000;
	background-image: url("../media/bg.png");
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-size: 100% 100%;
	-moz-background-size: 100% 100%;
}

.bucket{
	
}

.bucket:active{
    opacity: 0.8;

}

.whiteText{
	color: gray;
}

#gamearea {
    position: relative;
    display: table;
    width: 100%;
    height: 100%;
}

#centre {
    height: 100%;
    padding: 20px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

button {
	background:#5CCD00;
	background:-moz-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#5CCD00),color-stop(100%,#4AA400));
	background:-webkit-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	background:-o-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	background:-ms-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	background:linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#5CCD00', endColorstr='#4AA400',GradientType=0);
	padding:10px 15px;
	color:#fff;
	font-family:'Helvetica Neue',sans-serif;
	font-size:16px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:1px solid #459A00
}